body{
    background-color: black;
    
}
div{
    display: inline;
}

.icon {
    color: #f9ff00;
    font-size: 100px;
}
span {
    color: #212121;
    font-size: 80px;
    
}

 span:hover>i{
    color: #e64861;
}

span:hover~span i{
    color: white;
}

span:hover+span i {
    color: #f08eb1;
}